COMPOSE_PROJECT_NAME=mtb-dev
CONTROL_IMAGE_TAG=latest
CONTROL_PORT=8080
GUI_IMAGE_TAG=latest
GUI_PORT=3000

POSTGRES_URL=jdbc:postgresql://mtb-database:5432/mtb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Test1234!

SSO_URL=https://devauth.iam-extern.de/auth/realms/master

MTB_MAIN_DIR=/app/mtb-data/main
MTB_UNZIP_DIR=/app/mtb-data/unzip
MTB_ARCHIVE_DIR=/app/mtb-data/archive
MTB_REPORTS_DIR=/app/mtb-data/reports
MTB_FILE_ALLOWED_CONTENT_TYPES=application/zip
MTB_FILE_UPLOAD_MIN_BYTES=1000

TRANS_BWHC_SCHEDULER_RATE_IN_SECONDS=60
BIOINFO_SCHEDULER_RATE_IN_SECONDS=300

BWHC_BASE_URL=https://iam-bwhc.gwis.uke.de/bwhc_backend/bwhc/
BWHC_USERNAME=fulla
BWHC_PASSWORD=Test123!

ML_BASE_URL=http://host.docker.internal:6060/
ML_API_KEY=kGz7pHdE2ZhQLXWP
ML_API_VERSION=3.1
ML_GENRATED_ID=mtbid
MTB_UNIQUE_ID=soarianid
