SERVER_PORT=8080

POSTGRES_URL=jdbc:postgresql://localhost:5432/mtb
POSTGRES_USER=mtb
POSTGRES_PASSWORD=mtbpassword

# ATTENTION: for windows directories use double backlashes!
MTB_MAIN_DIR=C:\\path\\of\\watch\\directory
MTB_UNZIP_DIR=C:\\path\\of\\unzip\\directory
MTB_ARCHIVE_DIR=C:\\path\\of\\archive\\directory
MTB_REPORTS_DIR=C:\\path\\of\\reports\\directory

MTB_FILE_ALLOWED_CONTENT_TYPES=application/zip
MTB_FILE_UPLOAD_MIN_BYTES=1000

TRANS_BWHC_SCHEDULER_RATE_IN_SECONDS=60
BIOINFO_SCHEDULER_RATE_IN_SECONDS=300

ML_BASE_URL=BaseUrlOfMainzelliste
ML_API_KEY=APIKeyOfMainzelliste
ML_API_VERSION=3.1
ML_GENRATED_ID=idToGenerateWithMainzellist
MTB_UNIQUE_ID=mtbUniqueIdToPseudonymWithMainzellist

BWHC_BASE_URL=http://localhost:9000/bwhc/
BWHC_USERNAME=admin
BWHC_PASSWORD=admin

SSO_URL=https://devauth.iam-extern.de/auth/realms/master
