SERVER_PORT=8080

POSTGRES_URL=jdbc:postgresql://mtb-postgres:5432/mtb
POSTGRES_USER=mtb
POSTGRES_PASSWORD=mtbpassword

MTB_MAIN_DIR=/app/mtb-data/main
MTB_UNZIP_DIR=/app/mtb-data/unzip
MTB_ARCHIVE_DIR=/app/mtb-data/archive

MTB_FILE_ALLOWED_CONTENT_TYPES=application/zip
MTB_FILE_UPLOAD_MIN_BYTES=1000

TRANS_BWHC_SCHEDULER_RATE_IN_SECONDS=60
BIOINFO_SCHEDULER_RATE_IN_SECONDS=300

BWHC_BASE_URL=http://localhost:9000/bwhc/
BWHC_USERNAME=admin
BWHC_PASSWORD=admin

ML_BASE_URL=BaseUrlOfMainzelliste
ML_API_KEY=APIKeyOfMainzelliste
ML_API_VERSION=3.1
ML_GENRATED_ID=idToGenerateWithMainzellist
MTB_UNIQUE_ID=mtbUniqueIdToPseudonymWithMainzellist

SSO_URL=https://devauth.iam-extern.de/auth/realms/master
