.editable-table {
  border: 0.5px lightgrey solid;
  border-radius: 4px;
  border-collapse: separate;

  .header-cell {
    border-right: 0.5px lightgrey solid;
    font-weight: bold;

    :last-child {
      border-left: 0;
    }
  }

  .row-cell {
    padding: 5px;
    border-right: 0.5px lightgrey solid;
  }

  .select-cell,
  .date-cell,
  .autocomplete-cell {
    min-width: 150px;
  }

  .delete-button {
    vertical-align: center;
  }
}
