window.config = {
  KEYCLOAK_AUTH_URL: "auth url with realm",
  KEYCLOAK_CLIENT_ID: "mtb-gui client id",
  KEYCLOAK_CLIENT_SECRET: "mtb-gui  client secret",
  MTB_CONTROL_URL: "mtb-control base api url",
  KC_URL: "knowledge connector url",
  BWHC_URL: "bwhc url",
  // If multiple file endings are allowed, separate with comma
  ALLOWED_BIOINF_FILEENDINGS: ".zip",
  ALLOWED_KC_REPORT_FILEENDINGS: ".pdf",
  PUBLIC_URL: "/",
  // Versions
  MEDICATION_ATC_VERSIONS: ["2020", "2021", "2022", "2023"],
  TUMOR_MORPHOLOGY_VALID_VERSIONS: ["Erste Revision", "Zweite Revision", "2014", "2019"],
  LATEST_ICD_10_VERSION: "2025",
  LATEST_ICD_O_3_T_VERSION: "Zweite Revision",
  LATEST_WHO_GRADE_VERSION: "2021",
}
